{
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": false,
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-packagejson", "prettier-plugin-tailwindcss"]
}
