<h1>You've been invited to joun {{orgName}}</h1>
<p>
  <a href="{{ url }}">Click here</a> to create an account.
</p>
<p>
  Didn't expect this email? Please ignore it. Otherwise you can decline the invitation by clicking <a href="{{ declineUrl }}">here</a>.
</p>
